---

import Layout from "../layouts/Layout.astro";

---

<Layout title="encuentranos">
    <main class="w-full h-auto flex flex-col justify-center items-center">
        <h1 class="text-[#1f9a50] text-2xl mb-2 md:text-3xl md:mb-3 lg:text-4xl lg:mb-4">Encuentranos</h1>
        <aside class=" font-semibold gap-2">                   
            <p class="flex justify-center text-sm md:text-base">Direccion: Castro Barros 2185, Boedo, Capital Federal</p>
            <p class="flex justify-center text-sm md:text-base ">Telefono: (011) 5241-4585</p>
            <p class="flex justify-center text-sm md:text-base">Contactos: luis@lccomp.com.ar</p>
            <p class="flex justify-center text-sm md:text-base">Horarios: Lunes a Viernes: 9:00 a 17:00</p>            
        </aside>
        <section class="w-full h-auto pt-2 md:mt-2 border border-[#41884f] rounded">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.6597165246517!2d-58.42009039002199!3d-34.63803855919634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccba7f8d7f60d%3A0x6389dec572279feb!2sCastro%20Barros%202185%2C%20C1237%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1722630155893!5m2!1ses-419!2sar"
            class="w-full h-[300px] border border-[#41884f] rounded" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

</Layout>