---
import Layout from '../layouts/Layout.astro';
---

<Layout title='ViewPdf'>
    <section class="w-full h-screen border border-[#bdddbf] rounded-lg p-4">
        <iframe src="/downloads/LISTA_LC.pdf" class="w-full h-full border border-black"></iframe>
    </section>
</Layout>