---

---

<footer class="bg-[url('/img/fondoFooter.jpg')] bg-no-repeat h-m mt-auto text-white p-7 pb-0 flex flex-col h-max md:flex-row md:justify-around">
    <div class="flex justify-center p-3">
        <picture class="w-[200px] md:w-[300px] content-center">
            <img src="/img/logoFooter.png" alt="">
        </picture>
    </div>

    <div class="hidden md:flex md:flex-col md:content-center md:pb-2">
        <p class="text-[#8eb665] text-xl">Navegacion</p>
        <nav class="flex flex-col">            
            <a class="hover:text-[#8eb665]" href="/">Home</a>
            <a class="hover:text-[#8eb665]" href="/products">Productos</a>
            <a class="hover:text-[#8eb665]" href="/encuentranos">Encuentranos</a>
            <a class="hover:text-[#8eb665]" href="/dashboardAdmin">Administrador</a>
        </nav>
    </div>

    <section class="content-center p-2 pb-4">        
        <p class="flex justify-center text-sm md:text-base">Direccion: Castro Barros 2185, Boedo, Capital Federal</p>
        <p class="flex justify-center text-sm md:text-base ">Telefono: (011) 5241-4585</p>
        <p class="flex justify-center text-sm md:text-base">Contactos: luis@lccomp.com.ar</p>
        <p class="flex justify-center text-sm md:text-base">Horarios: Lunes a Viernes: 9:00 a 17:00</p>
    </section>
</footer>